body {
    padding: 10px;
    color: #000;
    font-family: 'Droid Sans Mono' ;
}

div.container {
    width: 90%;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* header container style */
header#header-container {
    background: url(assets/images/hero6.jpg) no-repeat left;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    color: #FFF;
}

div.bg-filter {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: #000;
}

header#header-container div.top-part {
    position: relative;
    top:51px;
}

div.logo img,
footer div.footer-logo img{
    width: 70px;
    height: 70px;
}

header#header-container div.top-part div.two-button {
    margin-top: 20px;
}

header#header-container div.top-part div.two-button a{
    margin-left: 20px;
}

a.aniBtn {
    padding:0 3px 5px;
    border-bottom: 2px solid rgba(255,255,255,1);
    border-top: 2px solid rgba(255,255,255,0);
    -webkit-transition: .25s all 0s linear;
    -moz-transition: .25s all 0s linear;
    -o-transition: .25s all 0s linear;
    transition: .25s all 0s linear;
}

.border-bottom-animate {
    padding-top: 5px !important;
    border-top: 2px solid rgba(255,255,255,1) !important;
    border-bottom-color: rgba(255,255,255,0) !important; 
}

header#header-container div.header-text-container {
    position: relative;
    top:150px;
}

header#header-container div.header-text-container h1 {
    font-size: 3.3em;
}

nav#menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255,255,255,0);
    padding: 1.5% 5%;
    z-index: 1000;
    -webkit-transition: .3s all 0s linear;
    -moz-transition: .3s all 0s linear;
    -o-transition: .3s all 0s linear;
    transition: .3s all 0s linear;    
}

/* menu effect */
.menu-scroll-effect {
    position: fixed !important;
    bottom: auto !important;
    top: 0 !important;
}

.menu-effect {
    background-color: rgba(255,255,255,.5) !important;
}

nav#menu ul {
    margin:0;
    padding:0;
    list-style: none;
}

nav#menu ul li {
    display: inline-block;
    /*margin-left: 12%;*/
}

nav#menu ul li:nth-child(1),
nav#menu ul li:nth-child(2) {
    text-align: left;
}

nav#menu ul li:nth-child(3),
nav#menu ul li:nth-child(4) {
    text-align: center;
}

nav#menu ul li:nth-child(5),
nav#menu ul li:nth-child(6) {
    text-align: right;
}

nav#menu ul li a {
    border: none;
    font-size: .8em;
}

/* We are container Style */
section#weare-container  {
    padding:80px 0;
}

section#weare-container div.title span,
section#what-we-do-container span {
    font-size: .8em;
    color: #999;
}

section#weare-container div.title h2 {
    font-size: 2em;
    margin-top: 40px;
}

section#weare-container div.text p {
    letter-spacing: .8px;
    line-height: 2em;
}

/* Slider container style */
section#slider-container {
    height: 500px;
}

section#slider-container ul.bxslider {
    height: 500px;
    overflow: hidden;
    margin:0;
    padding:0;
}

section#slider-container ul.bxslider li {
    height: inherit;
    width: inherit;
}

section#slider-container ul.bxslider li img{
    width: 100%;
    position: relative;
    top: -220px;
}

/* Slider bx-prev and bx-next control style */
section#slider-container a.bx-prev,
section#slider-container a.bx-next {
    width: 50% !important;
    height: 100% !important;
    top: 0 !important;
    margin-top: 0 !important;
}

section#slider-container a.bx-prev {
    left: -10px !important;
    cursor: url(assets/images/arrow_left_small.png), auto;
}

section#slider-container a.bx-next {
    right: 10px !important;
    cursor: url(assets/images/arrow_right_small.png), auto;
}

div.bx-wrapper {
    margin-bottom: 0 !important;
}

div.bx-wrapper .bx-viewport {
    left: 0 !important;
    box-shadow: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
}

div.bx-pager {
    display: none;
}

/* what-we-do-container css style */
section#what-we-do-container {
    padding: 5% 0 6%;
}

section#what-we-do-container span {
    font-size: .7em;
    letter-spacing: 2px;
    margin: 30px 0 50px;
    display: block;
}

section#what-we-do-container div.do-list {
    margin: 10px 0 80px;
}

section#what-we-do-container div.do-list span {
    margin: 20px 0 0;
    font-size: .6em;
}

section#what-we-do-container div.do-list h2 {
    font-weight: 500;
    font-size: 1.7em;
}

section#what-we-do-container div.do-list p {
    font-size:.85em;
    line-height: 1.7em;
}

section#what-we-do-container .aniBtn {
    color: #999;
    border-color: #999;
    padding-top: 5px;
}

/* feature-container */
section#feature-container div.feature-zone {
    background-color: #eee;
    padding:35px 0;
}

section#feature-container div.feature-zone span,
section#quote-container .quote span,
section#quote-container div.learn-more span,
section#gallery-container div.gallery-box div.gallery span,
footer div.footer-menu-area ul li a,
footer div.bottom-footer .copyright span  {
    font-size: .7em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999;
}

section#feature-container .bx-viewport {
    height: auto !important;
}

section#feature-container ul.bxslider {
    margin:0;
    padding:0;
    height: 480px;
    overflow: hidden;
}

section#feature-container ul.bxslider li img {
    width: 100%;
    position: relative;
    top: -100px;
}

section#feature-container a.bx-prev {
    background: url(assets/images/arrow_left_small.png) no-repeat;
    left: 4%;
}

section#feature-container a.bx-next {
    background: url(assets/images/arrow_right_small.png) no-repeat;
    right: 4%;
}

/* quote-container style */
section#quote-container {
    position: relative;
    height: 100vh;
}

section#quote-container div.quote {
    position: absolute;
    top: 12%;
    left: 0;
    bottom: 0;
    right: 0;
}

section#quote-container div.quote p {
    font-size: 2em;
    width: 800px;
    margin: 7% auto;
}

section#quote-container div.quote h6 {
    font-size: 1.1em;
}

section#quote-container div.learn-more a {
    padding-top: 5px;
}

section#quote-container div.learn-more span,
section#quote-container div.learn-more a {
    position: absolute;
    bottom: 4%;
}

section#quote-container div.learn-more span {
    left: 5%;      
}

section#quote-container div.learn-more a {
    right: 5%;
    border-color: #999;
    color: #999;
}

/* Gallery-container style */
section#gallery-container {
    position: relative;
}

section#gallery-container div.gallery-box {
    height: 420px;
    padding:0;
}

section#gallery-container div.gallery-box:nth-child(1) div.gallery{
    /*background: url(assets/images/2014-12-Life-of-Pix-free-stock-photos-relax-labtop-sofa-slippers-leeroy-1024x682.jpg) no-repeat;*/
    background: url(assets/images/2014-12-Life-of-Pix-free-stock-photos-relax-labtop-sofa-slippers-leeroy-1024x682.jpg) no-repeat;
}

section#gallery-container div.gallery-box:nth-child(2) div.gallery{
    background: url(assets/images/awwards-2-1024x682.jpg) no-repeat;
}

section#gallery-container div.gallery-box:nth-child(3) div.gallery{
    background: url(assets/images/BrightByte-AOTY2014-1024x681.jpg) no-repeat;
}

section#gallery-container div.gallery-box div.gallery {
    height: inherit;
    position: relative;
    background-size: cover !important;
    -webkit-transition: .25s all 0s ease-in-out;
    -moz-transition: .25s all 0s ease-in-out;
    -o-transition: .25s all 0s ease-in-out;
    transition: .25s all 0s ease-in-out;    
}

section#gallery-container div.gallery-box div.gallery h2 {
    margin: 0;
    position: absolute;
    top: 25%;
    font-size: 2.5em;
    margin-left: 15%;
}

section#gallery-container div.gallery-box div.gallery span  {
    position: absolute;
    top: 70%;
    margin-left: 15%;
}

/* footer style */
footer {
    padding: 4% 0;
}

footer div.footer-menu-area h6{
    font-size: 1.3em;
    margin: 20px 0;
}

footer div.footer-menu-area ul {
    margin:0;
    padding: 0;
    list-style: none;
    margin-bottom: 50%;
}

footer div.footer-menu-area ul li {
    margin: 15px 0;
    font-size: .9em;
}

footer hr {
    border-color: #eee;
    opacity: .3;   
}

footer div.footer-menu-area ul li hr {
    margin: 20px 0;
    width: 90%;
}

footer div.bottom-footer {
    padding: 1% 0;
}

footer div.bottom-footer .copyright span {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: none;
}

footer div.bottom-footer div.social-icons i{
    color: #000;
    font-size: 1.5em;   
    margin-right: 5px;
}



















